{% extends '@KoalamonIntegration/Master/system.html.twig' %}

{% block integration %}

    <script>
        function addFilter(elementPrefix, elementName) {
            rule = $('#' + elementPrefix + '_rule').val();
            url = $('#' + elementPrefix + '_url').val();

            if (rule == null || url == "") {
                return;
            }
            addFilterElement(elementPrefix, elementName, rule, url);
        }

        function addFilterElement(elementPrefix, elementName, rule, url) {
            key = Math.floor((Math.random() * 1000000) + 1);
            html = '<div id="' + elementPrefix + key + '_div">' +
                    '<input type="hidden" name="' + elementName + '[filter][' + key + '][rule]" value="' + rule + '">' +
                    '<input type="hidden" name="' + elementName + '[filter][' + key + '][url]" value="' + url + '">' +
                    '<div style="width: 205px; float: left">' + rule + '</div >' +
                    '<div style="width: 350px; float: left">' + url + '</div>' +
                    '<button style="margin-top: 8px; padding: 3px" onclick = "$(\'#' + elementPrefix + key + '_div\').remove();return false;">remove</button>' +
                    '</div>';

            $('#filters_' + elementPrefix).append(html);
        }

    </script>

    <h1>Smoke</h1>

    <div id="integration">

        <p style="width: 900px">
            The smoke basic test checks the given systems and the first 300 pages found against 21 rules. This includes checks against
            the html files, the http headers, json files, xml files and security issues.
        </p>

        <form id="integration_admin_form" style="padding-top: 20px" action="{{ path('koalamon_integration_smoke_basic_store', {'project': project.identifier}) }}">
            <input type="radio" onchange="$('.configOptions').toggle();" name="status" value="all" {% if config.status == 'all' %}checked="checked{% endif %}"> Scan all Systems <br>

            <div style="clear:both"></div>

            <input type="radio" onchange="$('.configOptions').toggle();" name="status" value="selected" {% if config.status != 'all' %}checked="checked{% endif %}"> Scan selected Systems only

            <div class="configOptions" style="margin-left: 25px; margin-top: 10px; margin-bottom: 10px; {% if config.status != 'all' %}display:none{% endif %}">
                <h2>Options for all Systems</h2>

                <p>The options you select in this paragraph will be applied to all systems.</p>
                {% include 'KoalamonIntegrationSmokeBasicBundle:Partials:options.html.twig' with { 'system': config, 'options': config.options, 'elementName': 'options' } %}
            </div>

            <div class="configOptions" style="{% if config.status == 'all' %}display:none{% endif %}">
                {% include 'KoalamonIntegrationBundle:Partials:systems.check.html.twig' with {'systems': systems, 'checkedSystems': integratedSystems, 'optionsTemplate': 'KoalamonIntegrationSmokeBasicBundle:Partials:options.html.twig', 'hideSubSystems': true} %}
            </div>

            <div style="clear:both"></div>

            <button onclick="storeIntegration('integration_admin_form'); return false;" style="margin-top: 30px">Store Configuration</button>
        </form>

    </div>
{% endblock %}