{% extends '@KoalamonIntegration/Master/inheritanceaware.html.twig' %}

{% block integration_name %}
    Smoke basic
{% endblock %}

{% block integration_description %}
    <div class="infobox">
        {% content "integration-smoke-info" %}
        The smoke basic test checks the given systems and the first 300 pages found against 21 rules. This includes checks against
        the html files, the http headers, json files, xml files and security issues.
        {% endcontent %}
    </div>
{% endblock %}
