<div class="options">

    <h3>Exclude URLs from standard Smoke Rules</h3>

    <div class="multi-option" data-option="excludedRules" data-element="{{ elementName }}">

        <label for="rule" style="width: 60px">Filter</label>

        <select name="rule" id="rule" style="width: 260px; margin-right: 30px" required>
            <option disabled selected>Choose rule</option>
            {% for rule in rules %}
                <option value="{{ rule }}">{{ rule }}</option>
            {% endfor %}
        </select>

        <label for="url" style="width: 60px;">Url</label>
        <input type="text" id="url" name="url" style="width: 400px;" required>
    </div>

</div>
