<label for="{{ elementName }}-expireWarningTime" style="width: 180px;">Expiration time in days</label>
<input type="number" name="{{ elementName }}[expireWarningTime]" value="{% if options.expireWarningTime is defined %}{{ options.expireWarningTime }}{% endif %}"
       id="{{ elementName }}-expireWarningTime" style="width: 75px; padding: 10px">