{% extends '@KoalamonIntegration/Master/inheritanceaware.html.twig' %}

{% block integration_name %}
    JsErrorScanner
{% endblock %}

{% block integration_description %}
    <div class="infobox">
        The JsErrorScanner checks the given systems for JavaScript errors. For the check it uses a PhantomJS browser. A headless webkit.
    </div>
{% endblock %}
