<div class="options">

    <h3>Ignored javascript files</h3>

    <div class="multi-option" data-option="excludedFiles" data-element="{{ elementName }}">
        <label for="filename" style="width: 70px">Filename</label>
        <input type="text" id="filename" name="filename" style="width: 1000px">
    </div>

</div>