<div class="options">

    <h3>Excluded files</h3>

    <div class="multi-option" data-option="excludedFiles" data-element="{{ elementName }}">
        <label for="filename">Filename</label><input type="text" id="filename" name="filename">
    </div>

</div>