<div class="options">

    <h3>Exclude URLs from ZAProxy Scan</h3>

    <div class="multi-option" data-option="excludedURLs" data-element="{{ elementName }}">
        <label for="filename" style="width: 70px">URL</label>
        <input type="text" id="url" name="url" style="width: 1000px" required>
    </div>

</div>