<div class="options">

    <h3>Header Checks</h3>

    <div class="multi-option" data-option="checkedHeaders" data-element="{{ elementName }}">
        <label for="key">Key</label><input type="text" name="key" id="key"> <label for="value">Value</label><input type="text" name="value" id="value">
    </div>

    {#<div class="multi-option" data-option="excludedFiles" data-element="{{ elementName }}">
        <label for="filename">Filename</label><input type="text" id="filename" name="filename">
    </div>#}

</div>