<div class="options">

    <h3>Header Checks</h3>

    <div class="multi-option" data-option="checkedHeaders" data-element="{{ elementName }}">
        <label for="key" style="width:60px;">Key</label>
        <input type="text" name="key" id="key" style="width:380px;">

        <label for="value" style="width: 60px;">Value</label>
        <input type="text" name="value" id="value" style="width:380px;">
    </div>

</div>