<div class="options">

    <h3>Regular Expressions</h3>

    <div class="multi-option" data-option="regex" data-element="{{ elementName }}">
        <label for="regex" style="width:150px;">Regular Expression</label>
        <input type="text" name="regex" id="regex" style="width:380px;" placeholder="example(.*)" required>
    </div>

</div>
