<div class="options">

    <h3>XPath expressions</h3>

    <div class="multi-option" data-option="checkedXPaths" data-element="{{ elementName }}">
        <label for="xpath" style="width:60px;">XPath</label>
        <input type="text" name="xpath" id="xpath" style="width:380px;" placeholder="XPath" required>
    </div>

</div>
