{% extends '@KoalamonIntegration/Master/inheritanceaware.html.twig' %}

{% block integration_name %}
    KoalaPing
{% endblock %}

{% block integration_description %}
    <div class="infobox">
        koala ping ping hooray!
    </div>
{% endblock %}

