{% extends '@KoalamonIntegration/Master/system.html.twig' %}

{% block integration %}

    <h1>Json Validator</h1>

    <div id="integration" style="width: 780px;">

        <p>
            The Json Validator checks if the given json files are well formed.
        </p>

        <form id="integration_admin_form" style="padding-top: 20px" action="{{ path('koalamon_integration_smoke_json_store', {'project': project.identifier}) }}">
            <input type="radio" onchange="$('.configOptions').toggle();" name="status" value="all" {% if config.status == 'all' %}checked="checked{% endif %}"> Scan all Systems <br>

            <div style="clear:both"></div>

            <input type="radio" onchange="$('.configOptions').toggle();" name="status" value="selected" {% if config.status != 'all' %}checked="checked{% endif %}"> Scan selected Systems only

            <div class="configOptions" style="margin-left: 25px; margin-top: 10px; margin-bottom: 10px; {% if config.status != 'all' %}display:none{% endif %}">
                <h2>Options for all Systems</h2>

                <p>The options you select in this paragraph will be applied to all systems.</p>
                {% include 'KoalamonIntegrationSmokeBundle:JsonValidator:options.html.twig' with { 'system': config, 'options': config.options, 'elementName': 'options' } %}
            </div>

            <div class="configOptions" style="{% if config.status == 'all' %}display:none{% endif %}">
                {% include 'KoalamonIntegrationBundle:Partials:systems.check.html.twig' with {'systems': systems, 'checkedSystems': integratedSystems, 'optionsTemplate': 'KoalamonIntegrationSmokeBundle:JsonValidator:options.html.twig'} only %}
            </div>

            <div style="clear:both"></div>

            <button onclick="storeIntegration('integration_admin_form'); return false;" style="margin-top: 30px">Store Configuration</button>
        </form>

    </div>
{% endblock %}