{% extends '@KoalamonIntegration/Master/inheritanceaware.html.twig' %}

{% block integration_name %}
    Google Pagespeed Checker
{% endblock %}

{% block integration_description %}
    <div class="infobox">
        The pagespeed check checker! Check!
    </div>
{% endblock %}
